<html lang="en">

<head>
    <!-- <meta> tags> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>GBB Wayfinder Helper</title>
</head>

<body>
    <div class="container">
        <h2 class="title center">GBB Wayfinder Helper</h2>
        <h3 class="title center">{{page.title}}</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/features/list">Features</a></li>
                <li><a href="/events/list">Events</a></li>
                <li><a href="/itineraries/list">Itineraries</a></li>
                <li><a href="/advisory/list">Advisory</a></li>
                <li><a href="/download">Download JSON File</a></li>
            </ul>
        </nav>
        <div class="content">
            {{{body}}}
            {{#if dialog.message}}
            <div class="hidden" id="dialog" title="{{dialog.title}}">{{dialog.message}}</div>
            {{/if}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>